extends layout

block content
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand.text-center.camru-nav-big(href='#') Computing Association of Mount Royal University
      a.navbar-brand.text-center.camru-nav-small(href='#') CAMRU
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon

      .collapse.navbar-collapse(id='navbarSupportedContent')
        ul.navbar-nav.mr-auto.text-right
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item.active
            a.nav-link(href='/about') About
          li.nav-item
            a.nav-link(href='/events') Events
          li.nav-item
            a.nav-link(href='/projects') Projects
          li.nav-item
            a.nav-link(href='/contact') Contact Us
        //ul.navbar-nav.text-left
        //  li.nav-item
        //    a.nav-link(href='/login') Login
        //  li.nav-item.dropdown
        //    a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Accounts
        //    .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
        //      a.dropdown-item(href='#') Settings
  .hero
    #about.container-fluid
      .row
        .col-sm-8
          h2 About CAMRU
          br
          h4
            | The Computing Association of Mount Royal University (CAMRU) has been a student-led club  since the inception of the BCIS program at MRU over a decade ago that is officially backed by the Faculty of Science and Computing.
          br
          p
            |  Our hope is that your time as a student at MRU is improved by our efforts; if we can do that, then our duties as club executives will have been worth it.
          br
          a.btn.btn-outline-secondary.btn-lg(role="button" href="/contact") Get in Touch

        .col-sm-4
          span.glyphicon.glyphicon-signal.logo
    .container-fluid.bg-grey
      .row
        .col-sm-4
          span.glyphicon.glyphicon-globe.logo.slideanim
        .col-sm-8
          h2 Our Values
          br
          h4
            strong MISSION:
            |  Our purpose has always been to serve students interested in computing. We work to do this primarily through organizing events that provide value in a multitude of ways. Whether by hosting our annual networking event, a simple games night, or something in between, fostering a strong community is our top priority.
          br
          p
            |  Through the years CAMRU has helped many students find work terms, internships, and even full-time jobs through our networking events and sharing information from local companies we work with. We have been the catalyst to innumerable friendships and professional connections that will last a lifetime. As well, we have assisted students with academic, professional, and social support they have needed over the years.

