extends layout

block content
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand.text-center.camru-nav-big(href='#') Computing Alliance of Mount Royal University
            a.navbar-brand.text-center.camru-nav-small(href='#') CAMRU
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon

            .collapse.navbar-collapse(id='navbarSupportedContent')
                ul.navbar-nav.mr-auto.text-right
                    li.nav-item
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='/about') About
                    li.nav-item.active
                        a.nav-link(href='/events') Events
                    //li.nav-item
                    //    a.nav-link(href='/projects') Projects
                    li.nav-item
                        a.nav-link(href='/contact') Contact Us
                //ul.navbar-nav.text-left
                //  li.nav-item
                //    a.nav-link(href='/login') Login
                //  li.nav-item.dropdown
                //    a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Accounts
                //    .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                //      a.dropdown-item(href='#') Settings

    .hero
        h1.text-center Currently no events happening, Check back soon
        

